<tr>
  <th scope="row"><%= recharge_counter + 1 %></th>
  <td><%= recharge_status(recharge.status) %></td>
  <td><%= recharge.amount %>đ</td>
  <td><%= format_date(recharge.created_at) %></td>
  <td><%= format_date(recharge.created_at) %></td>
</tr>
